target/
.cache
.classpath
.project
.settings/
.idea/

# VS Code, Metals, Bloop
.bsp/
.bloop/
.metals/
.vscode/

project/metals.sbt
project/project/

# Keep the deployed code out of Git in the main branch
deployscripts/