.ring {
    stroke: dimgrey;
    stroke-width: 2px;
    fill: none;
}

.molecule.ordinary {
    fill: lightblue;
}

.molecule.tracked {
    fill: blueviolet;
}

.card {
    width: 645px;
}

.results {
    max-width: 100%;
    overflow-x: scroll;
}

.results-table th {
    width: 3rem;
}

line {
    stroke: black;
}

.tick-label-y {
    dominant-baseline: middle;
    text-anchor: end;
    font-size: 0.9em;
}

.axis-label-x {
    text-anchor: end;
    font-size: 0.9em;
}

.axis-label-y {
    transform: rotate(270deg) translate(0, -45px);
    text-anchor: end;
    font-size: 0.9em;
}

.tick-label-x {
    text-anchor: middle;
    font-size: 0.9em;
}

.plot-point {
    stroke: blueviolet;
    fill: darkviolet;
}